[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlacodegen = "*"
psycopg2 = "*"
fastapi = "*"
fastapi-responses = "*"
uvicorn = "*"
flake8 = "*"
requests = "*"
typing = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
serve = "uvicorn main:app"
code_quality = "flake8 --max-line-length=120"
